<div *ngIf="video" class="container">
    <h2> {{video.title}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col">
            <dl class="row">
                <dt class="col-sm-4"><span jhiTranslate="youtubedlApp.video.extractor">来源</span></dt>
                <dd class="col-sm-8">
                    <span>{{video.extractor}}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="youtubedlApp.video.protocol">协议</span></dt>
                <dd class="col-sm-8">
                    <span>{{video.protocol}}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="youtubedlApp.video.uploader">Uploader</span></dt>
                <dd class="col-sm-8">
                    <span>{{video.uploader}}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="youtubedlApp.video.duration">Duration</span></dt>
                <dd class="col-sm-8">
                    <span>{{video.duration}}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="youtubedlApp.video.format">Format</span></dt>
                <dd class="col-sm-8">
                    <span>{{video.format}}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="youtubedlApp.video.width">Width</span></dt>
                <dd class="col-sm-8">
                    <span>{{video.width}}*{{video.height}}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="youtubedlApp.video.ext">Ext</span></dt>
                <dd class="col-sm-8">
                    <span>{{video.ext}}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="youtubedlApp.video.filesize">Filesize</span></dt>
                <dd class="col-sm-8">
                    <span>{{video.filesize}}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="youtubedlApp.video.tags">Tags</span></dt>
                <dd class="col-sm-8">
                    <span>{{video.tags}}</span>
                </dd>

            </dl>

        </div>
        <div class="col">
            <img src="{{video.thumbnail}}" class="img-fluid float-right">
        </div>
    </div>
    <!--<dl class="row">-->
        <!--<dt class="col-sm-2"><span jhiTranslate="youtubedlApp.video.url">Url</span></dt>-->
        <!--<dd class="col-sm-10 text-truncate">-->
            <!--<span>{{video.url}}</span>-->
        <!--</dd>-->
        <!--<dt class="col-sm-2"><span jhiTranslate="youtubedlApp.video.webpageUrl">Webpage Url</span></dt>-->
        <!--<dd class="col-sm-10 text-truncate">-->
            <!--<span>{{video.webpageUrl}}</span>-->
        <!--</dd>-->
    <!--</dl>-->
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'video/'+ video.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'video/'+ video.id + '/play'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-apple"></span>&nbsp;<span jhiTranslate="youtubedlApp.video.play"> Play</span>
    </button>
</div>
